@model Model.DiemDanhSV.TAI_KHOAN

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>TAI_KHOAN</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.TenDangNhap)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TenDangNhap)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MatKhau)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MatKhau)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TenHienThi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TenHienThi)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IdQuyen)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IdQuyen)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsQlPhongDT)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsQlPhongDT)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsGiangVien)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsGiangVien)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsSinhVien)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsSinhVien)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IdQlPhongDT)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IdQlPhongDT)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IdGiangVien)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IdGiangVien)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IdSinhVien)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IdSinhVien)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NgayTao)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NgayTao)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NguoiTao)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NguoiTao)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NgaySua)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NgaySua)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NguoiSua)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NguoiSua)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
