@using QlDiemDanhSinhVien.Common;
@model Model.DiemDanhSV.DIEM_DANH

@{
    ViewBag.Title = Resource.DIEM_DANH_SINH_VIEN_XOA;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container-fluid">
    <h1 class="mt-4">@Resource.DIEM_DANH_SINH_VIEN_XOA</h1>
    <ol class="breadcrumb mb-4">
        <li class="breadcrumb-item">@Html.ActionLink(Resource.DIEM_DANH_SINH_VIEN_DANH_SACH, "Index", "DiemDanh")</li>
        <li class="breadcrumb-item active">@Resource.DIEM_DANH_SINH_VIEN_XOA</li>
    </ol>
    <div class="card mb-4">
        <div class="card-body">

            <div>
                <h3 style="color:red">@Resource.CO_XOA_DU_LIEU_KHONG</h3>
                <hr />
                <dl class="dl-horizontal">
                    <dt>
                        @Html.DisplayNameFor(model => model.IdSinhVien)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.IdSinhVien)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.IdLopMon)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.IdLopMon)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.SoNgayHoc)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.SoNgayHoc)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.NgayHoc)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.NgayHoc)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.TrangThaiHoc)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.TrangThaiHoc)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.NgayTao)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.NgayTao)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.NguoiTao)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.NguoiTao)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.NgaySua)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.NgaySua)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.NguoiSua)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.NguoiSua)
                    </dd>

                </dl>

                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()

                    <div class="form-actions no-color">
                        <input type="submit" value="Delete" class="btn btn-default btn-danger" /> |
                        @Html.ActionLink("Back to List", "Index")
                    </div>
                }
            </div>

        </div>
    </div>
</div>




